EXECUTABLE=path-to-wasm-build-output
 
PREFIX = path-to-urho3d-wasm-build-directory
EMSDK = path-to-emscripten-sdk
LIBDIR = $(PREFIX)/lib/
INCLUDEDIR = $(PREFIX)/include


CXX      = $(EMSDK)/upstream/emscripten/em++.bat
SYSROOT = $(EMSDK)/upstream/emscripten/system

CXX_FLAGS = -std=c++11 -Wno-invalid-offsetof -mno-sse -Wno-warn-absolute-paths -Wno-unknown-warning-option --bind -Qunused-arguments -Oz -DNDEBUG  

CXX_DEFINES = -DURHO3D_ANGELSCRIPT -DURHO3D_FILEWATCHER -DURHO3D_IK -DURHO3D_LOGGING -DURHO3D_LUA -DURHO3D_NAVIGATION -DURHO3D_PHYSICS -DURHO3D_PROFILING -DURHO3D_STATIC_DEFINE -DURHO3D_URHO2D -DURHO3D_WEBP -DHAVE_STDINT_H

CXX_INCLUDES  = -Iheaders/ -I$(INCLUDEDIR) -I$(INCLUDEDIR)/Urho3D/ThirdParty -I$(INCLUDEDIR)/Urho3D/ThirdParty/Bullet -I$(INCLUDEDIR)/Urho3D/ThirdParty/Lua

LDFLAGS  = -L$(LIBDIR) -lUrho3D -lGL

 
src = $(wildcard Source/*.cpp)
obj = $(src:.cpp=.o)
 
all: myprog

%.o: %.cpp
	$(CXX) --sysroot=$(SYSROOT) $(CXX_DEFINES) $(CXX_INCLUDES) $(CXX_FLAGS) -o $(subst Source,web-build/output,$(@)) -c $<
 
myprog: $(obj)
	$(CXX) --sysroot=$(SYSROOT) $(CXX_FLAGS) \
    -s EXTRA_EXPORTED_RUNTIME_METHODS="['Pointer_stringify']" -s FORCE_FILESYSTEM=1 -s DISABLE_DEPRECATED_FIND_EVENT_TARGET_BEHAVIOR=0  -O3 \
    -s AGGRESSIVE_VARIABLE_ELIMINATION=1 -s TOTAL_MEMORY=134217728 -s ALLOW_MEMORY_GROWTH=1 --no-heap-copy  \
    --pre-js "$(EMSDK)/upstream/emscripten/src/emrun_prejs.js" -s NO_EXIT_RUNTIME=1 -s ERROR_ON_UNDEFINED_SYMBOLS=0 -s WASM=1 \
    --preload-file "Assets/CoreData"@"Assets/CoreData" --use-preload-cache \
    --preload-file "Assets/GameData"@"Assets/GameData" --use-preload-cache \
    --preload-file "Assets/GameLogic"@"Assets/GameLogic" --use-preload-cache \
    --shell-file "wasm-build-assets/shell.html" \
    -o $(EXECUTABLE) $(subst Source,web-build/output,$(^)) $(LDFLAGS)
	@echo "build completed"
 